.save-detail{
    // background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 300px;
    .save-detail-content{
        .save-item{
            width: 100%;
            display: flex;
            background-color: white;
            border-radius: 10px;
            // height: 100px;
            max-height: 150px;
            margin-bottom: 20px;
            .save-item-img{
                text-align: center;
                width: 30%;
                height: 100px;
                background-color: #80808057;
                img {
                    height:100%;
                    width: auto;
                }
            }
            .save-item-content{
                width: 70%;
                padding: 10px;
                .save-item-title{
                    font-family: Montserrat;
                    font-size: 15px;
                    font-weight: bold;
                    line-height: 1.5;
                    color: orange;
                    padding: 5px;
                    margin-bottom: 10px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
                .save-item-get-detail{
                    .view-detail{
                        font-family: Montserrat;
                        font-size: 15px;
                        font-weight: bold;
                        line-height: 1.5;
                        color: green;
                        padding: 5px 20px;
                        border-radius: 5px;
                        border: 1px solid black;
                        cursor: pointer;
                        &:hover{
                            color: orange;
                            background-color: black;
                        }
                    }
                }
            }
        }
    }
}
.item-form-ask-comment{
    margin-top: 15px;
}
.avatar-comment{
    padding: 5px 5px;
    margin-left: 10px;
}
.form-comment{
    padding: 0px;
    max-width: 87%;
}
.form-comment form{
    height: 100%;
}
.form-comment input::placeholder {
	font-family: Montserrat;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
    color: #a9aaad;
    padding-left: 5px;
}
.input-comment{
    width: 99%;
    height: 100%;
    border-radius: 50px;
    border: 1px solid #ececec;
    background-color: #f2f3f5;
    padding-left: 10px;
}
.input-comment:focus {
    box-shadow: none;
    border: none;
}

@media only screen and (max-width: 575px) {
	.avatar-comment{
        padding: 5px 5px;
        margin-left: 10px;
        max-width: 8%;
    }
}